@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<input type="number" id="num"/>
	<button id="search">查詢</button>
	<table>
		@foreach (var item in ViewBag.Data)
		{
			<tr>
				<td>@item</td>
			</tr>
		}
	</table>
	
	
</div>
<script>
	const btn = document.getElementById('search')
	const num = document.getElementById('num')

	btn.addEventListener("click", function (event) {
		window.location.href = `https://localhost:7091/home?numinput=${num.value}`;
	});
</script>